# ROUTER_WS_URL=ws://0.0.0.0:8080/ws

# SECRET_KEY=$(openssl rand -hex 32)
# POSTGRES_HOST=postgres
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres
# POSTGRES_DB=postgres
# POSTGRES_PORT=5432

# DEBUG=True/False

# MASTER_AGENT_API_KEY=e1adc3d8-fca1-40b2-b90a-7b48290f2d6a::master_server_ml
# MASTER_BE_API_KEY=7a3fd399-3e48-46a0-ab7c-0eaf38020283::master_server_be

# BACKEND_CORS_ORIGINS=[*, "http://localhost"]
# DEFAULT_FILES_FOLDER_NAME=/files

# CLI_BACKEND_ORIGIN_URL=http://localhost:8000